html {
  font-size: 16;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6180339887;
  color: #0f0f0f;
  background: #fefefe;
  -weblit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.row {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.small-1 {
  width: 8.33333%; }

.small-2 {
  width: 16.66667%; }

.small-3 {
  width: 25%; }

.small-4 {
  width: 33.33333%; }

.small-5 {
  width: 41.66667%; }

.small-6 {
  width: 50%; }

.small-7 {
  width: 58.33333%; }

.small-8 {
  width: 66.66667%; }

.small-9 {
  width: 75%; }

.small-10 {
  width: 83.33333%; }

.small-11 {
  width: 91.66667%; }

.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-push-9 {
  position: relative;
  left: 75%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

@media (min-width: 40rem) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-1 {
    position: relative;
    left: -8.33333%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-2 {
    position: relative;
    left: -16.66667%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-3 {
    position: relative;
    left: -25%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-4 {
    position: relative;
    left: -33.33333%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-5 {
    position: relative;
    left: -41.66667%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-6 {
    position: relative;
    left: -50%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-7 {
    position: relative;
    left: -58.33333%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-8 {
    position: relative;
    left: -66.66667%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-9 {
    position: relative;
    left: -75%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-10 {
    position: relative;
    left: -83.33333%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-11 {
    position: relative;
    left: -91.66667%; } }

@media (min-width: 56.25rem) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-1 {
    position: relative;
    left: -8.33333%; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-2 {
    position: relative;
    left: -16.66667%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-3 {
    position: relative;
    left: -25%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-4 {
    position: relative;
    left: -33.33333%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-5 {
    position: relative;
    left: -41.66667%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-6 {
    position: relative;
    left: -50%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-7 {
    position: relative;
    left: -58.33333%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-8 {
    position: relative;
    left: -66.66667%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-9 {
    position: relative;
    left: -75%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-10 {
    position: relative;
    left: -83.33333%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-11 {
    position: relative;
    left: -91.66667%; } }

.block {
  padding: 10px 10px 0 10px;
  background-color: #cccccc;
  float: left;
  width: 200px;
  height: 200px;
  margin-bottom: 15px; }

.block > img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.block::after, .block::before {
  content: " ";
  display: table; }

.block::after {
  clear: both; }

.block:first-child {
  margin-right: 15px; }

.block:not(:nth-child(2)) {
  margin-left: 15px; }

@media (max-width: 414px) {
  .block {
    background-color: #cccccc;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    padding: 0; }
  .row .column > img {
    overflow: hidden; }
  .block > img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; } }

/*# sourceMappingURL=maps/block-grid.css.map */
