@import "varables";
@import "mixins";



html{
	@include root;
}

@include universal;

body{
	@include body;
}

.row{
	@include row;
}

.col{
	@include column;
}

@for $i from 1 to 12{
	.small-#{$i}{
		width: (100 / 12 ) * $i * 1%;
	}
}

@for $i from 1 to 12{
	.small-push-#{$i}{
		position: relative;
		left: (100 / 12 ) * $i * 1%;
	}
}

@for $i from 1 to 12{
	.small-pull-#{$i}{
		position: relative;
		left: -(100 / 12 ) * $i * 1%;
	}
}

@each $key, $value in $breakpoints{
	@media (min-width: to-rem($value)){
		@for $i from 1 to 12{
			.#{$key}-#{$i}{
				width:	(100 / 12) * $i * 1%;
			}
			.#{$key}-push-#{$i}{
				position: relative;
				left:	(100 / 12) * $i * 1%
		}
		.#{$key}-#{$i}{
				position: relative;
				left:	-(100 / 12) * $i * 1%
			}
		}
	}
}