html{
	font-family: sans-serif;
	}


.box{
	margin: auto;
	padding: 50% 15px;
	}

.center {
	box-sizing: border-box; 
	font-size: 1.3rem; 
	text-align: center;
	color: #ccc; 
	border-radius: 10px;
    margin: auto;
    width: 90%;
    border: 3px solid #cccccc;
    padding: 80px 15px;
    box-shadow: 2px 2px 4px #cccccc;
}